<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<vindi>
				<active>1</active>
				<model>Vindi\Payment\Model\Payment\Vindi</model>
				<allow_installments>0</allow_installments>
				<order_status>pending</order_status>
				<title>Vindi</title>
				<allowspecific>0</allowspecific>
				<payment_action>capture</payment_action>
				<group>offline</group>
			</vindi>
		</payment>
	</default>
</config>
