<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront_checkout_index_index>
                    <report_only>1</report_only>
                </storefront_checkout_index_index>
            </mode>
            <policies>
                <storefront_checkout_index_index>
                    <scripts>
                        <inline>1</inline>
                        <event_handlers>1</event_handlers>
                    </scripts>
                </storefront_checkout_index_index>
            </policies>
        </csp>
        <payment>
            <vindi>
                <active>0</active>
                <model>Vindi\Payment\Model\Payment\Vindi</model>
                <allow_installments>0</allow_installments>
                <title>Vindi - Cartão de Crédito</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <group>offline</group>
            </vindi>
            <vindi_bankslip>
                <active>0</active>
                <model>Vindi\Payment\Model\Payment\BankSlip</model>
                <title>Vindi - Boleto Bancário</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <group>offline</group>
            </vindi_bankslip>
            <vindi_pix>
                <active>0</active>
                <model>Vindi\Payment\Model\Payment\Pix</model>
                <title>Vindi - Pix</title>
                <enabled_document>0</enabled_document>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <group>offline</group>
            </vindi_pix>
            <vindi_bankslippix>
                <active>0</active>
                <model>Vindi\Payment\Model\Payment\BankSlipPix</model>
                <title>Vindi - Bolepix</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <group>offline</group>
            </vindi_bankslippix>
        </payment>
        <vindiconfiguration>
            <general>
                <mode>2</mode>
                <test>values</test>
                <order_status>pending</order_status>
            </general>
        </vindiconfiguration>
        <checkout>
            <vindi_pix>
                <info_message>Os dados para o pagamento, serão exibidos após finalizar o pedido.</info_message>
                <info_message_onepage_success>Seu pedido foi concluído, abaixo segue as informações do PIX para realizar o pagamento.</info_message_onepage_success>
                <qr_code_warning_message>Seu navegador não da suporte a renderização do QRCode. Use o código do PIX para realizar o pagamento ou acesse o link abaixo para acessar o QR Code.</qr_code_warning_message>
            </vindi_pix>
            <vindi_bankslippix>
                <info_message>Os dados para o pagamento, serão exibidos após finalizar o pedido.</info_message>
                <info_message_onepage_success>Seu pedido foi concluído, abaixo segue as informações para realizar o pagamento.</info_message_onepage_success>
                <qr_code_warning_message>Seu navegador não da suporte a renderização do QRCode. Use o código do PIX para realizar o pagamento ou acesse o link abaixo para acessar o QR Code.</qr_code_warning_message>
            </vindi_bankslippix>
        </checkout>
    </default>
</config>
