<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Vindi\Payment\Api\PlanInterface" type="Vindi\Payment\Model\Vindi\Plan"/>
    <preference for="Vindi\Payment\Api\PlanManagementInterface" type="Vindi\Payment\Model\Vindi\PlanManagement"/>
    <preference for="Vindi\Payment\Api\ProductInterface" type="Vindi\Payment\Model\Vindi\Product"/>
    <preference for="Vindi\Payment\Api\ProductManagementInterface" type="Vindi\Payment\Model\Vindi\ProductManagement"/>
    <preference for="Vindi\Payment\Model\Subscription\SyncSubscriptionInterface" type="Vindi\Payment\Model\Subscription\SyncSubscription"/>
    <preference for="Vindi\Payment\Api\SubscriptionInterface" type="Vindi\Payment\Model\Vindi\Subscription"/>
    <preference for="Vindi\Payment\Api\SubscriptionRepositoryInterface" type="Vindi\Payment\Model\SubscriptionRepository"/>
    <preference for="Vindi\Payment\Api\Data\SubscriptionInterface" type="Vindi\Payment\Model\Data\Subscription"/>
    <preference for="Vindi\Payment\Api\Data\SubscriptionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Vindi\Payment\Api\PixConfigurationInterface" type="Vindi\Payment\Helper\PixConfiguration"/>

    <virtualType name="Vindi\Payment\Model\ResourceModel\Subscription\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vindi_subscription</argument>
            <argument name="resourceModel" xsi:type="string">Vindi\Payment\Model\ResourceModel\Subscription\Collection</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vindi_payment_subscription_listing_data_source" xsi:type="string">Vindi\Payment\Model\ResourceModel\Subscription\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Vindi\Payment\Plugin\CsrfValidatorSkip" />
    </type>
    <type name="Magento\Sales\Model\Order\Payment">
        <plugin name="setOrderStatusOnPlace" type="Vindi\Payment\Plugin\SetOrderStatusOnPlace" />
    </type>

    <!-- VindiPlan-->
    <preference for="Vindi\Payment\Api\Data\VindiPlanInterface" type="Vindi\Payment\Model\VindiPlan"/>
    <preference for="Vindi\Payment\Api\Data\VindiPlanSearchResultInterface" type="Vindi\Payment\Model\VindiPlanSearchResult"/>
    <preference for="Vindi\Payment\Api\VindiPlanRepositoryInterface" type="Vindi\Payment\Model\VindiPlanRepository"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vindi_payment_vindiplan_listing_data_source" xsi:type="string">Vindi\Payment\Model\ResourceModel\VindiPlan\Grid\Collection</item>
                <item name="vindi_payment_vindiplan_data_source" xsi:type="string">Vindi\Payment\Model\ResourceModel\VindiPlan\Form\DataProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Vindi\Payment\Model\ResourceModel\VindiPlan\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vindi_plans</argument>
            <argument name="resourceModel" xsi:type="string">Vindi\Payment\Model\ResourceModel\VindiPlan</argument>
        </arguments>
    </virtualType>

    <!-- PaymentProfile-->
    <preference for="Vindi\Payment\Api\Data\PaymentProfileInterface" type="Vindi\Payment\Model\PaymentProfile"/>
    <preference for="Vindi\Payment\Api\Data\PaymentProfileSearchResultInterface" type="Vindi\Payment\Model\PaymentProfileSearchResult"/>
    <preference for="Vindi\Payment\Api\PaymentProfileRepositoryInterface" type="Vindi\Payment\Model\PaymentProfileRepository"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vindi_payment_paymentprofile_listing_data_source" xsi:type="string">Vindi\Payment\Model\ResourceModel\PaymentProfile\Grid\Collection</item>
                <item name="vindi_payment_paymentprofile_data_source" xsi:type="string">Vindi\Payment\Model\ResourceModel\PaymentProfile\Form\DataProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Vindi\Payment\Model\ResourceModel\PaymentProfile\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vindi_payment_profiles</argument>
            <argument name="resourceModel" xsi:type="string">Vindi\Payment\Model\ResourceModel\PaymentProfile</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="vindi_payment_disable_qty_rendering" type="Vindi\Payment\Plugin\DisableQtyRendering" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="vindi_recurrence_post_product_save" type="Vindi\Payment\Plugin\PostProductSave"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="vindi_recurrence_prevent_add_product_with_recurrence" type="Vindi\Payment\Plugin\PreventAddProduct"/>
        <plugin name="vindi_recurrence_restrict_quantity_update_for_recurrence_product" type="Vindi\Payment\Plugin\RestrictQuantityUpdate"/>
    </type>
</config>
