<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="vindi_payment_adjust_price" instance="Vindi\Payment\Observer\AdjustPrice"/>
    </event>
    <event name="customer_login">
        <observer name="vindi_recurrence_prevent_cart_merge" instance="Vindi\Payment\Observer\PreventCartMergeAfterLogin" />
    </event>
</config>
