<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="vindi_interval_count" xsi:type="array">
                    <item name="class" xsi:type="string">Vindi\Payment\Ui\DataProvider\Product\Form\Modifier\IntervalUpdate</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="vindi_billing_trigger" xsi:type="array">
                    <item name="class" xsi:type="string">Vindi\Payment\Ui\DataProvider\Product\Form\Modifier\BillingTriggerUpdate</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="vindi_recurrence_attribute" xsi:type="array">
                    <item name="class" xsi:type="string">Vindi\Payment\Ui\DataProvider\Product\Form\Modifier\RecurrenceDataDynamicRow</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
<!--    <virtualType name="Vindi\Payment\Model\Subscription\DataProvider\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">-->
<!--        <arguments>-->
<!--            <argument name="modifiers" xsi:type="array">-->
<!--                <item name="payment_profile" xsi:type="array">-->
<!--                    <item name="class" xsi:type="string">Vindi\Payment\Ui\DataProvider\Subscription\Form\Modifier\PaymentProfile</item>-->
<!--                    <item name="sortOrder" xsi:type="number">10</item>-->
<!--                </item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->
<!--    <type name="Vindi\Payment\Model\Subscription\DataProvider">-->
<!--        <arguments>-->
<!--            <argument name="pool" xsi:type="object">Vindi\Payment\Model\Subscription\DataProvider\Modifier\Pool</argument>-->
<!--        </arguments>-->
<!--    </type>-->
</config>
