<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vindi_Payment::top_level"
             title="Vindi"
             module="Vindi_Payment"
             sortOrder="9999"
             resource="Magento_Backend::content"
        />
        <add action="vindi_payment/vindiplan/index"
             id="Vindi_Payment::vindi_payment_vindiplan"
             module="Vindi_Payment"
             parent="Vindi_Payment::top_level"
             resource="Magento_Backend::content"
             sortOrder="10"
             title="Plans"
        />
        <add action="vindi_payment/subscription/index"
             id="Vindi_Payment::vindi_payment_subscription"
             module="Vindi_Payment"
             parent="Vindi_Payment::top_level"
             resource="Magento_Backend::content"
             sortOrder="10"
             title="Subscriptions"
        />
        <add id="Vindi_Payment::payment_methods"
             title="Payment Methods"
             module="Vindi_Payment"
             sortOrder="15"
             action="adminhtml/system_config/edit/section/payment/"
             parent="Vindi_Payment::top_level"
             resource="Magento_Backend::content"/>

        <add id="Vindi_Payment::configuration"
             title="Configuration"
             module="Vindi_Payment"
             sortOrder="20"
             action="adminhtml/system_config/edit/section/vindiconfiguration"
             parent="Vindi_Payment::top_level"
             resource="Magento_Backend::content"/>
    </menu>
</config>
