.recurrence-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recurrence-label {
    background-color: transparent;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 1px solid black;
    margin-bottom: 20px;
}

.recurrence-label:hover, .recurrence-input:checked + .recurrence-label {
    background-color: #e0e0e0;
    color: black;
    border-color: black;
}

.recurrence-label:hover {
    border-color: #303030;
}

.recurrence-description {
    padding: 10px;
    margin-top: 5px;
    background-color: #f9f9f9;
    border-left: 3px solid #3079ed;
    color: #333;
    font-size: 14px;
    line-height: 1.4;
}

.price-prefix, .installment-info {
    font-size: 0.6em;
    font-weight: normal;
}
